<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="rami">
    <div class="bg-image">

        <p class="a"></p>
        <a href="/provideinfoE" class="aa">Student</a> <p class="aaa">|</p>
        <a href="/provideinfoR" class="aa">Resposable de stage</a> <p class="aaa">|</p>
        <a href="/provideinfoC" class="aa">Chef de departement </a>
    </div>

</body>

</html>