<!DOCTYPE html>

<html lang="ar">


  <body id="body">
    <header class="myheader">
        <h1>
          <a style="text-decoration: none; color: rgb(255, 255, 255); padding-left: 35px;" href="/">ETUDIANT LOGIN</a>
        </h1>
      >
      </header>

    <main id="main">
      <section>
        <h1>Enter your info :</h1>


        <form action="/infoEprovided" method="post">
          <label for="id">EMAIL :</label>
          <input type="text" id="id" name="email" required>
          <label for="aa">PASSWORD :</label>
          <input type="password" id="aa" name="pass" required >
            <button class="create">CONNECT</button>
        </form>
        

        
      </section>
    </main>

    
  </body>
</html>
